@model Station

@{
    ViewData["Title"] = "Delete Station";
}

<h1>Delete Station</h1>

<h3>Are you sure you want to delete this station?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StationCode)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.StationCode)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StationName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.StationName)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.City)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.City)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Capacity)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Capacity)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CurrentAvailable)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CurrentAvailable)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Owner)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Owner)</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StationId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>

