@model Station

@{
    ViewData["Title"] = "Station Details";
}

<h1>Station Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StationCode)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.StationCode)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StationName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.StationName)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.City)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.City)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Province)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Province)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Latitude)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Latitude)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Longitude)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Longitude)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Capacity)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Capacity)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CurrentAvailable)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CurrentAvailable)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Owner)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Owner)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ContactPhone)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ContactPhone)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ContactEmail)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ContactEmail)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.IsActive)</dt>
        <dd class="col-sm-10">
            @if (Model.IsActive)
            {
                <span class="badge bg-success">Active</span>
            }
            else
            {
                <span class="badge bg-secondary">Inactive</span>
            }
        </dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedDate)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ModifiedDate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ModifiedDate)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StationId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

